@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

html {
    overflow-x: hidden;
}

/*  whole webpage styling */
body {
    background: var(--bg);
    color: var(--text);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    transition: .25s;

}

main {
    padding: 1rem;
}

/*########################## THEMES ##########################*/
:root {
    font-size: 22px;
    font-family: 'BIZ UDPMincho', serif;
    font-style: normal;
    font-weight: 400;

    /* colors */

    /* Light */
    --white: #FFFFFF;
    --grey: gray;
    /* Dark */
    --dark: #141418;
    --light-dark: #23232e;

}

/*  webpage scrollbar styling */


@mixin pages {
    display: grid;
    max-width: fit-content;
    min-height: fit-content;
    margin-left: 8rem;
}

@mixin bio {
    max-width: fit-content;
}

@mixin borders {
    border-style: solid;
    border: 1 1 #141418;
    border-radius: 2px;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding-top: 109px;
}

.home {
    @include pages;
    line-height: 90px;
    margin-bottom: 0px;
    margin-left: 28%;
    //change when done with other pages     
}

.pic {
    @include pages;
}

.top,
.mid,
.bot {
    @include bio;
    margin-left: inherit;

}

.top {
    font-size: xxx-large;
    margin-bottom: 0px;
}

.mid {
    font-size: 128px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bot {
    font-size: 24px;
    line-height: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.home_page {
    opacity: 1;

}

.contact {
    @include pages;
    display: none;
}

.icons {
    margin-top: 0px;
    margin-left: 145px;
    word-spacing: 21px;
}

.resume {
    width: 126px;
    border-radius: 10px;
    cursor: pointer;
}

#linkedin,
#github {
    cursor: pointer;
}